<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="brave" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="docker-desktop" />
  <package id="DotNet4.5.2" />
  <package id="dotnetcore-3.1-desktopruntime" />
  <package id="dotnetcore-desktopruntime" />
  <package id="dotnetfx" />
  <package id="gimp" />
  <package id="git" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="InputDirector" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="mariadb" />
  <package id="mariadb.install" />
  <package id="notion" />
  <package id="nvidia-geforce-now" />
  <package id="powertoys" />
  <package id="python" />
  <package id="python3" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="wireguard" />
</packages>